<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#c0c0c0" background="http://www.globalsuntech.com/images/7892e2ed7abc140501a88ce9051ed0ac.jpg">
<h1 align="center">Calculate the number of rolls of wallpaper</h1>
<p>[[${title}]]</p>
<p></p>
<p></p>
<p></p>
<p align="center">You need rolls: [[${result}]]</p>
<form align="center" action="">
    <input name="isLong" type="text" placeholder="Is Long in m">
    <input name="with" type="text" placeholder="With in m">
    <input name="height" type="text" placeholder="Height in m">
    <input name="withWallpaperInM" type="text" placeholder="With wallpaper in m">
    <input name="isLongWallpaperInM" type="text" placeholder="Is long wallpaper in m">
    <button>Calculate</button>
</form>
</body>
</html>